/* 기본 세팅 */
@font-face {
  font-family: "Arita Buri KR";
  src:url("fonts/AritaBuriKR-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #fff;
  font-family: "Arita Buri KR", serif;
  max-width: 1920px;
  margin: 0 auto;
}

/* 이미지 기본 */
img {
  display: block;
  width: 100%;
  height: auto;
}

section {
  margin-bottom: 0;
}

/* ===== 작업물 공통 ===== */

.project-image-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* 메인 이미지 (1, 2 공통) */
.project-image-wrapper img.work1,
.project-image-wrapper img.work2 {
  width: 70%;
  height: auto;
  display: block;
  margin: 50px auto;   /* padding 대신 margin * 작업물끼리 간격 */
}

/* 버튼 박스: 이미지 위 오른쪽 아래 */
.project-buttons {
  position: absolute;
  bottom: 10%;
  right: 16%;
  display: flex;
  gap: 15px;    /* 버튼사이의 간격 */
  align-items: center;
  z-index: 2;
}

/* 버튼+프리뷰 세트 */
.btn-wrap {
  position: relative;
  display: inline-block;
}

/* 공통 버튼 스타일 */
.btn {
  padding: 8px 16px;
  background: rgba(255,255,255,0.8);
  border: 1px solid #dcdcdc;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  border-radius: 5px;
  backdrop-filter: blur(20px);
}

.btn:hover {
  background: rgba(255,255,255,1);
  border-color: #aaa;
}

/* 공통 프리뷰 이미지 스타일 */
.preview-img {
  position: absolute;
  bottom: 200%;           /* 버튼 위에 이미지 띄운 간격 */
  right: 0;
  width: 560px;           /* 프리뷰 크기 */
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
  transition: opacity 0.4s ease, transform 0.4s ease;
  border-radius: 0;
  box-shadow: 0 30px 30px rgba(0,0,0,0.3);
}

/* 어떤 btn-wrap이든 hover되면 자기 preview-img만 보이게 */
.btn-wrap:hover .preview-img {
  opacity: 3;
  transform: translateY(0);
}
